src/
npy_datasets/
temp/
unused/
mlruns/
logs/
*/cv_data/
paper_data/
analysis/

.vscode/
__pycache__/

*ISIC*
*test*
*.h5*
tmp*

*csv 
*txt
*xlsx

from_scratch.py
note.md
simplified.csv
simple_predict.ipynb 

