src/data/
src/bacteria
npy_datasets/bacteria
.vscode/
test.py
__pycache__/
unet-tf-implementation/
tf_segmentation.ipynb
temp/
*ISIC*
*test*
unused/
*.h5*
mlruns/

logs/
tmp*
note.md
simplified.csv
simple_predict.ipynb 
analysis/
*/cv_data/
assumptioons.md
